body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 40s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background-color: #b2f2b2; }
    5% { background-color: #99e6a3; }
    10% { background-color: #80db80; }
    15% { background-color: #66cc66; }
    20% { background-color: #4db84d; }
    25% { background-color: #3fb03f; }
    30% { background-color: #b3e6b3; }
    35% { background-color: #ffff99; }
    40% { background-color: #ffdb80; }
    45% { background-color: #ffcc66; }
    50% { background-color: #ffb366; }
    55% { background-color: #ff9933; }
    60% { background-color: #ff7f00; }
    65% { background-color: #ff6600; }
    70% { background-color: #ff4d00; }
    75% { background-color: #ff3333; }
    80% { background-color: #ff1a1a; }
    85% { background-color: #ff0000; }
    90% { background-color: #e60000; }
    95% { background-color: #cc0000; }
    100% { background-color: #b30000; }
}

#text {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px; 
    color: rgb(29, 23, 23); 
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    animation: pulse 1s infinite; 
    margin: 10px;
    padding: 10px;
    animation: pulse 2s infinite alternate;
}
@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
